<section>

What this app does right now... <br>
<ul>
    <li>Click "Start" button to start a 25-min work session</li>
    <li>Click "Reset" button to stop timer and reset it to 25 minutes</li>
</ul>

<!-- displays timer counter -->
{{ counter }}

<br>
<!-- this button toggles between Start and Reset. Visible during work session (onBreak false)-->
<div class="myButton" ng-click="toggleTimer()" ng-bind="buttonText"></div>
<!-- this button toggles between Start Break and Reset Break. Visible when onBreak is true. -->
<div class="myButton" ng-click="startBreak()" ng-bind="buttonText" ng-show="onBreak"></div>


</section>
